
Flask==1.0.2
Flask-Cors==3.0.7
gunicorn==19.9.0
h5py==2.8.0
imageio==2.4.1
imagesize==1.1.0
ipykernel==4.10.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
numpy==1.15.1
numpydoc==0.8.0
Pillow==5.2.0
py==1.6.0
itsdangerous==0.24
jija2==2.10
MarkupSafe==0.23
Werkzeug==0.14.1
wheel==0.24.0

